body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #362c2c;
}

header {
    background-color: #320d73;
    color: white;

    
}
nav h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


ul a{
    border: 2px solid transparent ;
}
ul a:hover{
    border-bottom-color:white ;
}
nav ul {
    list-style: none;
    padding: right;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero{
    background-image: url(images.jpeg);
    background-repeat: no-repeat ;
    background-size: cover;
    height: 340px;
    width: 97%;
    align-items: center;
    justify-content: center;

    display: block;
    margin: auto;
}


.hero:hover{
    background-image: linear-gradient(to right,#01022de5 50%,transparent)
    ,url(images.jpeg);
}

.hero h1{
    font-size: 80px;
    text-transform: uppercase;
    font-style: italic;
    font-family: sans-serif;
   
    color: rgb(255, 255, 255);
}

.hero p{

    width: 370px;
    color: #c9b2f0;
    font-size: 50px;
    font-style: italic;
    font-family: sans-serif;
    padding-left: 50px;
}
h2{
    color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    font-size: 50px;

}
#featured {
    padding: 2rem;
    text-align: center;
}

.dish {
    display: inline-block;
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dish{
    width: 300px;
    height: 500px

}
.dish:hover {
    clip-path:fill-box;
}
.dish img {
    width: 100%;

    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position:relative;
    width: 100%;
    bottom: 0;
}